
langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain_openai
fastapi
uvicorn
watchdog
youtube-transcript-api
huggingface_hub
transformers
langgraph-cli[inmem]
redis                  
                    